.tableHeaderText{

    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tableHeader{
    box-shadow: 0 5px 5px -5px #333;
}
